In [1]:
import pandas as pd

In [2]:
import pandas as pd
hospice_df = pd.read_csv('/Users/Jing/Documents/Hospice_-_General_Information.csv')
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
0,11500,BAPTIST HOSPICE,301 INTERSTATE PARK,NaN,MONTGOMERY,AL,36109,Montgomery,(334) 395-5000,4,Other,03/23/1984
1,11501,SOUTHERNCARE NEW BEACON N. BIRMINGHAM,"4735 NORREL DRIVE, SUITE 129",NaN,TRUSSVILLE,AL,35173,Jefferson,(205) 939-8799,4,For-Profit,05/24/1984

In [3]:
hospice_df = hospice_df.loc[hospice_df.State == 'TN']
hospice_df.head()

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984
2891,441504,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,NaN,CHATTANOOGA,TN,37416,Hamilton,(423) 892-4289,4,Non-Profit,06/30/1986
2892,441506,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,NaN,BARTLETT,TN,38134,Shelby,(901) 680-0378,4,For-Profit,02/09/1987
2893,441507,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,NaN,SPRINGFIELD,TN,37172,Robertson,(615) 384-9425,4,Other,07/13/1987

In [4]:
#Facility Name, Address Line 1, City, State, County Name, CMS Region, Ownership Type, and Cerfification Date
hospice_df.columns = ['ccn','facility','address1',"address2",'City','State',"zip",'County Name','phone','CMS Region',"Owership Type","Certification Date"]
hospice_df.head(2)

,ccn,facility,address1,address2,City,State,zip,County Name,phone,CMS Region,Owership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [5]:
hospice_df.drop(columns = ['ccn','address2','zip','phone'],inplace = True)
hospice_df.head()

,facility,address1,City,State,County Name,CMS Region,Owership Type,Certification Date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987

In [6]:
hospice_df.tail()

,facility,address1,City,State,County Name,CMS Region,Owership Type,Certification Date
2940,ENCOMPASS HOSPICE OF TENNESSEE,828 ROYAL PARKWAY SUITE 113,NASHVILLE,TN,Davidson,4,For-Profit,06/16/2010
2941,QUALITY HOSPICE,341 WEST CENTRAL AVENUE,JAMESTOWN,TN,Fentress,4,For-Profit,01/04/2013
2942,HEARTH HOSPICE,1800A ROSSVILLE AVE SUITE 114,CHATTANOOGA,TN,Hamilton,4,For-Profit,03/22/2013
2943,"AMEDISYS HOSPICE, AN ADVENTA COMPANY",400 ROYAL PARKWAY,NASHVILLE,TN,Davidson,4,Other,01/05/2016
2944,KINDRED HOSPICE,"430 STUART RD NE, STE 2",CLEVELAND,TN,Bradley,4,For-Profit,01/04/2017

In [7]:
hospice_df.shape

(56, 8)

In [8]:
cancer_df = pd.read_csv('data/cancer_deaths.csv',skiprows =4,nrows = 100)
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999.0,No,185.4,184.0,186.8,13933.0,falling,-1.4,-1.5,-1.2
1,United States,0.0,No,163.5,163.3,163.7,586354.0,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169.0,No,265.5,219.0,319.1,24.0,stable,0.0,-1.3,1.3
3,Scott County,47151.0,No,241.0,214.5,270.0,63.0,stable,-0.5,-1.1,0.1
4,Cheatham County,47021.0,No,239.6,217.8,263.0,97.0,stable,-0.6,-1.4,0.3

In [9]:
cancer_df.tail()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
95,Williamson County,47187.0,Yes,127.2,119.8,134.9,239.0,falling,-3.8,-4.8,-2.9
96,Moore County,47127.0,Yes,123.2,93.9,160.5,12.0,falling,-2.1,-3.8,-0.4
97,Created by statecancerprofiles.cancer.gov on 0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,State Cancer Registries may provide more curre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cancer_df.shape

(100, 11)

In [11]:
cancer_df.columns = ['County','FIPS','Met_Health_People_Objective','Age_Adjusted_Death_Rate','Lower95CI','Upper95CI','AveAnnuaCount','RecentTrend','Recent5yTrend_inDeathRates','Lower95CI.1','Upper95CI.1']
cancer_df.head()

,County,FIPS,Met_Health_People_Objective,Age_Adjusted_Death_Rate,Lower95CI,Upper95CI,AveAnnuaCount,RecentTrend,Recent5yTrend_inDeathRates,Lower95CI.1,Upper95CI.1
0,Tennessee,47999.0,No,185.4,184.0,186.8,13933.0,falling,-1.4,-1.5,-1.2
1,United States,0.0,No,163.5,163.3,163.7,586354.0,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169.0,No,265.5,219.0,319.1,24.0,stable,0.0,-1.3,1.3
3,Scott County,47151.0,No,241.0,214.5,270.0,63.0,stable,-0.5,-1.1,0.1
4,Cheatham County,47021.0,No,239.6,217.8,263.0,97.0,stable,-0.6,-1.4,0.3

In [12]:
pop_df = pd.read_csv('data/PEP_2017_PEPAGESEX.csv',skiprows = 1)
pop_df.shape

(95, 993)

In [13]:
april_data = [col for col in pop_df.columns if col.startswith('April')]
pop_df = pop_df.drop(april_data, axis = 1)
pop_df.head()

,Id,Id2,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Male; Total,Population Estimate (as of July 1) - 2010 - Female; Total,Population Estimate (as of July 1) - 2011 - Both Sexes; Total,Population Estimate (as of July 1) - 2011 - Male; Total,Population Estimate (as of July 1) - 2011 - Female; Total,Population Estimate (as of July 1) - 2012 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75112,36292,38820,75173,36365,38808,75196,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
1,0500000US47003,47003,"Bedford County, Tennessee",45086,22364,22722,45227,22355,22872,45262,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9
2,0500000US47005,47005,"Benton County, Tennessee",16511,8085,8426,16488,8104,8384,16414,...,48.3,46.6,45.2,48.0,47.1,45.7,48.4,47.4,46.0,48.7
3,0500000US47007,47007,"Bledsoe County, Tennessee",12882,6969,5913,12906,6963,5943,12851,...,46.3,43.4,41.7,46.5,43.5,41.9,46.4,43.9,42.1,47.3
4,0500000US47009,47009,"Blount County, Tennessee",123213,59651,63562,123653,59865,63788,123904,...,44.1,43.4,42.1,44.5,43.7,42.2,44.9,43.8,42.3,45.1

In [14]:
pop_df = pop_df.drop(columns = ["Id","Id2"])

In [15]:
droplist2011 = [col for col in pop_df.columns if '2011' in col]
pop_df = pop_df.drop(droplist2011,axis =1)
droplist2012 = [col for col in pop_df.columns if '2012' in col]
pop_df = pop_df.drop(droplist2012,axis =1)
droplist2013 = [col for col in pop_df.columns if '2013' in col]
pop_df = pop_df.drop(droplist2013,axis =1)
droplist2015 = [col for col in pop_df.columns if '2015' in col]
pop_df = pop_df.drop(droplist2015,axis =1)
droplist2016 = [col for col in pop_df.columns if '2016' in col]
pop_df = pop_df.drop(droplist2016,axis =1)
pop_df.shape

(95, 298)

In [16]:
droplistfemale = [col for col in pop_df.columns if 'Male' in col]
droplistmale = [col for col in pop_df.columns if 'Female' in col]

pop_df = pop_df.drop(droplistfemale,axis =1)
pop_df = pop_df.drop(droplistmale,axis =1)
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years - Under 5 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years - Under 5 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years - Under 5 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years - 5 to 13 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years - 5 to 13 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years - 5 to 13 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years - 14 to 17 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years - 14 to 17 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years - 14 to 17 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years - 18 to 24 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years - 18 to 24 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years - 18 to 24 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years - 25 to 44 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years - 25 to 44 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years - 25 to 44 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years - 45 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years - 45 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years - 45 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 65 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 65 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 65 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 16 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 16 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 16 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 15 to 44 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 15 to 44 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 15 to 44 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [17]:
final_list = [col for col in pop_df.columns if 'Under 5 years' in col or '5 to 9 years' in col or '10 to 14 years' in col or '15 to 19 years' in col or
              "20 to 24 years" in col or '25 to 29 years' in col or '30 to 34 years'in col or '35 to 39 years'in col or 
              '40 to 44 years'in col or '45 to 49 years' in col or '15 to 44 years' in col or '16 years and over' in col or '18 years and over' in col or 'Under 18 years' in col or '18 years and over'in col or '18 to 64 years' in col or '65 years and over'in col or 'Total - 85 years and over' in col]
pop_df = pop_df.drop(final_list, axis =1)
pop_df.shape

(95, 31)

In [28]:
pop_and_cancer = pop_df.merge(cancer_df,how = 'outer')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False